<section class="overflow-hidden">
  <div class="pt-48 pb-12">
    <h1
      class="uppercase text-black text-center text-4xl scale-[1.2] sm:text-6xl
      md:text-7xl lg:text-8xl md:scale-[1.5] lg:scale-[1.2] xl:scale-[1.1] xl:text-[9rem] lg:tracking-tighter font-black"
    >
      <span class="block"> Prima persona</span>
      <span class="block"> it's built with</span>
      <span class="block"> astro &amp; tailwind</span>
    </h1>
  </div>
</section>
