@import "tailwindcss";


:root {
  /* Stylistic settings for Inter font*/
  font-family: Inter, sans-serif;
  font-feature-settings:
    /*-------- NUMBERS --------*/
    /* Tabular numbers */ "tnum" 1,
    /* Slashed zero */ "zero" 1,
    /* Alternate one */ "cv01" 1,
    /* Flat-top three */ "cv09" 1,
    /* Open four */ "cv02" 1,
    /* Open six */ "cv03" 1,
    /* Open nine */ "cv04" 1,
    /*-------- LETTERS --------*/
    /* Square punctuation */ "ss08" 1,
    /* Discretionary ligatures */ "dlig" 1,
    /* Simplified u */ "cv06" 1,
    /* Capital G with spur */ "cv10" 1,
    /* Single-story a */ "cv11" 1;
    /* Compact t */ "cv13" 1,
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}


